/* Load fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins');

/* Load tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Load slick carousel styling */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* Patches and custom CSS */

.left-timeline {
  left: 2.25rem;
}

@media screen and (min-width: 1024px) {
  .left-timeline {
    left: calc(50vw - 16px);
  }
}

.hover\:child-opacity-100:hover > * {
  opacity: 1;
}