@charset "utf-8";

/* Defining new styles */
.dark-overlay{
    background-color: rgba(0,0,0,0.4);
}

/* Changing variables for Bulma */
//
$input-focus-border-color: hsl(0, 0%, 48%);

// Typography
$size-1: 5rem;
$size-2: 3rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;
$family-open-sans: BlinkMacSystemFont, -apple-system, "OpenSans", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$title-family: $family-open-sans;
$subtitle-family: $family-open-sans;
// Tabs text color
// $tabs-link-color: whitesmoke;
.tabs.has-text-light{
    ul {
        li{
            a {
                color: whitesmoke;
                &:hover {
                    color: #4a4a4a;
                }
            }
        }
    }
}

// Navbar links font
.navbar{
    .navbar-brand {
        a {
            font-family: $family-open-sans;
            font-weight: bold;
        }

        .dropdown-navbar {
            margin-right: 0;
            margin-left: auto;
            .dropdown-menu {
                top: 3rem;
                .navbar-items {
                    .navbar-item {
                        padding: 0.2rem;
                    }
                }
            }
        }
    }
    .navbar-menu {
        a {
            font-family: $family-open-sans;
            font-weight: bold;
        }
    }
}

/* Import Bulma -- Don't reinvent the wheel */
@import "~bulma/bulma.sass";